<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <listeners>
  	<listener class-name="com.qa.listeners.TestListener" />
  </listeners>
  <test name="Test">
  	<parameter name="platformName" value="Android" />
  	<parameter name="platformVersion" value="11.0" />
  	<parameter name="deviceName" value="Pixel_3" />
    <classes>
      <class name="com.qa.tests.LoginTests">
      <!-- <methods>
      	<include name="invalidUsernameTest" />
      </methods> -->
      </class>
      <!-- <class name="com.qa.tests.ProductTests"></class> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
